*{
	font-family: 'Nunito', sans-serif;
	font-weight: bold;
	margin: 0px;

}

body{
	background-color: #aaa;
}

.container-week{
	min-width: 320px;
	margin: 150px 10px;
	padding: 10px;
	background-color: #5bf;
	border-radius: 18px;
	display: flex;
	flex-wrap: wrap;
}

.container-group{
	flex-basis: 100%;
	font-size: 40px;
	margin: 10px;
	padding: 4px;
}

.container-day{
	width: 250px;
	margin: 10px;
	padding: 4px;
	font-size: 18px;
	border: 2px solid #fff;
	background-color: #fff;
	border-radius: 6px;
	display: flex;
	flex-wrap: wrap;
	flex-grow: 1;
	justify-content: center;
}


.day{
	margin: 12px 0;
	padding-left: 4px;
	font-size: 30px;
	flex-basis: 100%;
	display: flex;
}

.container-clases{
	padding: 0px;
	flex-basis: 100%;
}

.clase{
	display: flex;
	flex-basis: 100%;
	margin: 4px;	
	padding: 4px;
	background-color: skyblue;
	border: 2px solid skyblue;
	border-radius: 6px;
	text-align: center;
	justify-content: center;
	align-items: center;
}
.min-tic{
	background-color: #f9b;
	border-color: #f9b;
}
.hora{
	width: 30%;
	
}
.materia{
	width: 70%;
	padding: 2px;
	
}
